.btn {
    margin-top: 1em;
    padding: 0 2.5rem;
    height: 40px;
    left: 8rem;
    bottom: 3.5rem;
    font-size: 1.3rem;

    color: $color-light;

    border-radius: $btn-radius;
    border: none;
    margin-bottom: 2rem;
    cursor: pointer;

    &:focus {
        outline:0;
    }
}

.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-card {
    padding: 0 !important;
    margin: 0 !important;
    position: absolute;
    z-index: 999;   
    width: 12rem;
    margin: 0 auto; 

    bottom: -2.5rem !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
    background: $color-light;
    font-size: 1rem;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;

    box-shadow: 0 -3px 5px rgba(black, .2);
}

.btn-carapuce {
    background: linear-gradient( -45deg, $color-light 0 calc(50% - 10px), /*#F5F5F5 calc(50% - 10px) calc(50% + 10px),*/ darken($color-carapuce, 30%) calc(50% + 10px) 100% );
    
    background-size: 250% 100%;
    background-position: 100% 50%;

    &:hover, &:focus {
        background-position: 0% 50%;
        transition: 0.5s all;
        color: white !important;
    }
}

.btn-bulbizarre {
    background: linear-gradient( -45deg, $color-light 0 calc(50% - 10px), /*#F5F5F5 calc(50% - 10px) calc(50% + 10px),*/ darken($color-bulbizarre, 30%) calc(50% + 10px) 100% );
    
    background-size: 250% 100%;
    background-position: 100% 50%;

    &:hover, &:focus {
        background-position: 0% 50%;
        transition: 0.5s all;
        color: white !important;

    }
}

.btn-salameche {
    background: linear-gradient( -45deg, $color-light 0 calc(50% - 10px), /*#F5F5F5 calc(50% - 10px) calc(50% + 10px),*/ darken($color-salameche, 30%) calc(50% + 10px) 100% );
    
    background-size: 250% 100%;
    background-position: 100% 50%;

    &:hover, &:focus {
        background-position: 0% 50%;
        transition: 0.5s all;
        color: white !important;
    }
}

.btn-hunger, .btn-battle, .btn-toilet {
    //background-image: linear-gradient(to right, #333, #485563, #2b5876, #43764e);
    //background-size: 250% 100%;
    //background-position: 100% 50%;
    position: relative;
    color: $color-dark;
    
    width: 96px;
    height: 96px;
    border-radius: 50%;
    
    text-align: center;
    
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 1rem auto;
    transition: .3s all ease-out;

    &:hover, &:focus {
        //background-position: 0% 50%;
        background: rgba(#333, .9);
        transition: .3s all linear;
        color: $color-light;
        outline:0;

        img {
            filter: blur(1px);
        }
    }

    border: 2px solid rgba(#519196, .3);
    box-shadow: 0 3px 10px rgba(#000000, .3);
    overflow: hidden;

    p {
        position: relative;
        z-index: 99999;
    }

    img {
        z-index: 1;
        transform: rotate(-30deg);
        width: 80%;
        height: 80%;
        position: absolute;
        top: 10px;

        filter: blur(2px);
    }    
}

/* .btn-hunger {
    &::after {
        position: absolute;
        background-color: red;
        height: attr(data-hunger) "";
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
} 

.btn-battle {
    &::after {
        position: absolute;
        background-color: red;
        height: 100%;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
} 

.btn-toilet {
    &::after {
        position: absolute;
        background-color: red;
        height: 100%;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
}  */