.chose-character {

    /* START BACKGROUND 3 POKEMONS */
    &::before {
        z-index: -6;
        position: fixed;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }
    &::after {
        z-index: -5;
        position: fixed;
        background: -moz-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: -webkit-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        width: 100%;
        top: 0;
        height: 100%;
        content: "";
    } 
    /* END BACKGROUND 3 POKEMONS */


    /* START BACKGROUND 8 POKEMONS */
    .banner {
        &::before {
            z-index: -1;
            background-image: url(../img/banner.png);
            background-position: left;
            background-repeat: no-repeat;
            position: fixed;
            float: right;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
        }
        &::after {
            z-index: -2;
            opacity: .5;
            background-image: url(../img/banner.png);
            background-position: left;
            background-repeat: no-repeat;
            position: fixed;
            float: right;
            top: -10px;
            left: -10px;
            width: 100%;
            height: 100%;
            content: "";
        }
    }
    /* END BACKGROUND 8 POKEMONS */

    .header-container {
        z-index: 100;
        text-align: center;
        padding: 10px 5%;

        
        .header-content {
            background: #f7f7f9;
            border-radius: 18px;
            padding: 30px 5%;
            color: #375153;
            border: 4px solid rgba(#519196, .3);
            box-shadow: 0 0 10px 2px rgba(#519196, .3);
    
            /* box-shadow: 0 -15px 15px rgba(#519196, .2),
            inset 0 -15px 15px rgba(#519196, .2),
            0 15px 15px rgba(#519196, .3),
            inset 0 15px 15px rgba(#519196, .3); */

            .name-title {
                font-size: 1.7rem;
                letter-spacing: -2px;
                padding: 5px;
            }
            .name-subtitle {
                margin-top: 12px;
                font-size: 1.2rem;
                letter-spacing: -2px;
                padding: 5px;

                &::after {
                    color: crimson;
                    position: relative;
                    right: 10px;
                    content: " ▼ ";
                    -webkit-filter: drop-shadow(1px 2px 2px rgba(0,0,0,1));
                    filter: drop-shadow(1px 2px 2px rgba(0,0,0,1));
                    animation: .7s linear 0s infinite alternate move_eye;
                }
            }
        }
    }

    .chose-character-content {

        position: relative;
        padding: 4rem 0;
        margin: 0 5%;


        .card {
            z-index: 999;
            width: 325px;
            height: 475px;
            transform-style: preserve-3d;
            margin: 0 30px;
            cursor: pointer;
            margin: 0 auto;


            .face {
                border-radius: $card-radius;

                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                display: flex;
                justify-content: center;
                align-items: center;
                backface-visibility: hidden;
                transition: .8s ease-in-out;
                transform: perspective(500px) rotateY(0deg);

                background: -moz-linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
                background: -webkit-linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
                background: linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
            
                box-shadow: 0 0 10px rgba(0, 0, 0, .5);
            }

            .back {
                border-radius: $card-radius;

                opacity: 0; //0
                transform: rotateX(180deg); //180deg
                position: relative;
                
                .elm {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    
                    .desc {
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        
                        flex: 0 50%;
                        height: 100%;
                        
                        .pokeinformation {
                            flex: 25 0 1;
                            background-color: rgb(255, 255, 255, .3);
                            box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, .2);
                            width: 100%;
                            border-top-right-radius: $card-radius;
                            border-top-left-radius: $card-radius;
                            padding: 10px 0;

                            h2 {
                                font-size: 1.6em;
                            }
        
                            p {
                                font-size: 12px;
                            }

                            .gender {
                                font-size: 24px;
                                position: absolute;
                                top: 12px;
                                right: 12px;
                            }
                        }

                        .img {
                            width: 70%;
                            height: auto;
                            margin: 0 auto;
                            padding: 5px 0;
                            margin-top: 12px;

                         
                            overflow: hidden;

                            min-width: 228px;
                            min-height: 244px;

                           /*  &.bulbizarre-img img {
                                margin-top: 1rem !important;
                                width: 100%;
                                height: 80%;
                                //background: red;
                                margin: 0 auto;
                            } */

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        .pokehelp-container {
                            flex: 25 0 20%;
                            z-index: 10;
                            width: 100%;

                            .pokehelp-content {
                                padding: 12px;
                                margin: 12px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                border-radius: $card-radius;
                                position: relative;
                                box-shadow: 0 3px 3px rgba(0, 0, 0, .3);

                                &::before {
                                    width: calc(90% + (#{$card-radius} / 2));
                                    height: 80px;
                                    top: 0;
                                    content: "";
                                    background: rgba($color-light, .5);
                                    position: absolute;
                                    z-index: -1;
                                    border-radius: $card-radius;
                                    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);

                                }

                                &::after {
                                    width: 80%;
                                    left: 10%;
                                    height: 90px;
                                    top: 0;
                                    content: "";
                                    background: rgba($color-light, .2);
                                    position: absolute;
                                    z-index: -2;
                                    border-radius: $card-radius;
                                    box-shadow: 0 3px 3px rgba(0, 0, 0, .1);

                                }
                                
                                .weight {
                                    &::after {
                                        content: "kg ";
                                        font-size: .9rem;
                                    }
                                }

                                .size {
                                    &::after {
                                        content: "m ";
                                        font-size: .9rem;
                                    }
                                }

                                p {
                                    margin-top: 12px;
                                    font-size: .8rem;
                                }
                            }
                        }
                    } 
                }
            }
        }
    }
}

 .card:hover .face.front {
    opacity: 0;
    transform: rotateX(-180deg);
}

.card:hover .face.back {
    opacity: 1;
    transform: rotateX(360deg);
}
 