.death-view-container {
    width: 100%;
    height: 100vh;

    background-color: #dab641;

    display: flex;
    justify-content: center;
    align-items: center;

    .death-view-content {
        position: relative;
        margin: 12px;
        background-image: url(../img/bg-death.jpeg);
        width: 45rem;
        height: 25rem;
        background-position: center;
        background-size: cover;
        box-shadow: 0 0 10px rgba(0, 0, 0, .4);

        display: flex;
        align-items: center;
        justify-content: center;

        &::before {
            z-index: 0;
            top: 0;
            position: absolute;
            background: rgba(#333, .3);
            width: 45rem;
            height: 25rem;
            content: "";
            // z-index: 61;
        } 


        &::after {
            z-index: 0;
            top: 0;
            position: absolute;
            background: -moz-linear-gradient(160deg, #dab641 42%, rgba(#dab641, .4) 30%);
            background: -webkit-linear-gradient(160deg, #dab641 42%, rgba(#dab641, .4) 30%);
            background: linear-gradient(160deg, rgba(lighten(#dab641, 30%), .3) 42%, rgba(#dab641, .4) 30%);
            width: 45rem;
            height: 25rem;
            content: "";
            // z-index: 61;
        } 

        .death-view-element {
            z-index: 999;

            .title {
                text-align: center;
    
                h1 {
                    position: relative;
                    display: inline-block;
                    font-size: 40px;
                    z-index: 40;
                    padding: 12px;
        
                    &::before {
                        position: absolute;
                        content: "";
                        left: -3.5rem;
                        top: 0;
                        background-image: url(../img/rip.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: .8;
                        width: 64px;
                        height: 64px;
                        z-index: -1;
                    }
                    &::after {
                        position: absolute;
                        content: "";
                        right: -3.5rem;
                        top: 0;
                        background-image: url(../img/rip.png);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        opacity: .8;
                        width: 64px;
                        height: 64px;
                        z-index: -1;
                    }
                }
            }
    
            .retry {
                z-index: 999;
                // top: 50%;
                text-align: center;
                width: 100%;
    
                z-index: 9999;
    
                #retry {
                    // background:darken($color: #dab641, $amount: 10%);
                    background: linear-gradient( -45deg, #dab641 0 calc(50% - 10px), darken(#dab641, 30%) calc(50% + 10px) 100% );
    
                    background-size: 250% 100%;
                    background-position: 100% 50%;

                    &:hover, &:focus {
                        background-position: 0% 50%;
                        transition: 0.5s all;
                        color: white !important;
                    }
                }
            } 
        }

        
    }
}