.game-container {
    position: relative;

    &::before {
        z-index: -6;
        position: absolute;
        background-image: url(../img/background-hero.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        top: 0;
        height: 100%;
        content: "";
    }
    &::after {
        z-index: -5;
        position: fixed;
        background: -moz-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: -webkit-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        width: 100%;
        top: 0;
        height: 100%;
        content: "";
    } 

    .game-content  {
        z-index: 100;
        // text-align: center;
        padding: 20px 20px;

    }

    .box-left-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 6px 3px rgba(0, 0, 0, .5);

        .game-header-container {
            position: relative;
            padding: 10px;
           
            -moz-box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
            -webkit-box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
            box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
        
            .game-header-content {
                position: relative;
                padding: 15px;
                border: 2px solid rgba(#519196, .3);
                color: #375153;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;

                &::after {
                    position: absolute;
                    right: -7px;
                    top: -7px;
                    background-image: url(../img/pokeball.png);
                    content:"";
                    width: 64px;
                    height: 64px;
    
                    animation: bounceIn 0.7s ease-in-out infinite; //linear
                }
            }
            
            #name {
                font-family: "pokefont" sans-serif;
                &::before {
                    content: " ⯈ ";
                }
            }
        
            #money {
                &::after {
                    content: " ⯇ ";
                }
            }           
        }

        .game-preview-container {
            flex: 1;

            background-image: url(../img/background-hero.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            // background-attachment: scroll, local;

            .game-preview-content {
                // position: relative;
                // overflow: hidden;
                overflow: hidden;
                
                height: 100%;

                display: flex;
                flex-direction: column;

                .tetetetez {
                    padding-left: 10px;
                }

                .imgPokegotchi-container {
                    flex: 1;
                    position: relative;
                    padding: 0 20px;

                    .pokegotchi {
                        width: 15rem;
                        height: 15rem;
                        margin: 0 auto;
                        position: absolute;
                        bottom: 12px;
                        transform: scaleX(-1);
                        // position: absolute;

                    }
                }
                
                // margin-top: 10%;
                .pokeInfo-container {
                    // position: absolute;
                    bottom: 0;
                    z-index: 120;

                    display: flex;
                    filter: drop-shadow(-2px 6px 10px rgba(50, 50, 0, 1));


                    .pokeInfo-content-left {
                        display: inline-block;
                        width: 25rem;

                        z-index: -1;
                        position: relative;
                        margin: 10px 10px 10px 10px;

                        padding: 10px 20px 15px 10px;

                        clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
                        border-radius: 2px;

                        #name {
                            display: inline-block;
                            font-size: 24px;
                        }

                        #level {
                            font-size: 32px;
                            float: right;
                            margin-right: 1.8rem;
                        }

                        .infobar {
                            margin-top: 10px;
                            width: calc(100% - 30px);
                            position: relative;
                            overflow: hidden;


                            .health-bar-content {
                                position: relative;
                                border-radius: 3px;

                                margin-top: 5px;
                                width: 100%;
                                background-color: rgba(#333, .5);
                                overflow: hidden;

                                .health-box {
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: 3rem calc(100% - 3rem);
                                    width: 100%;
                                }

                                .health-bar {
                                    transition: all .5s;
                                    font-size: 12px;
                                    // background: $color-health;
                                    width: 100%;
                                    height: 100%;
                                    margin-right: auto;
                                    padding: 12px 0;
                                }

                                .health-title {
                                    position: relative;
                                    transform: all .3s;color: $color-light;
                                    border-right: 2px solid black;
                                    text-align: center;
                                    height: 100%;
                                    background: darken(rgba($color-secondary-dark, 1), 30%);
                                } 

                                #health {
                                    /* position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    width: 100%;
                                    line-height: 19px; */
                                    position: absolute;
                                    top: 0;
                                    left: calc(3.3rem);
                                    font-size: 13px;
                                    margin-top: 5px;
                                }
                            }

                            .exp-bar-content {
                                position: relative;
                                border-radius: 3px;

                                margin-top: 5px;
                                width: 100%;
                                background-color: rgba(#333, .5);
                                overflow: hidden;

                                .exp-box {
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: 3rem calc(100% - 3rem);
                                    width: 100%;
                                }

                                .exp-bar {
                                    transform: all .3s;
                                    border-radius: 3px;
                                    font-size: 12px;
                                    background: $color-secondary-dark;
                                    width: 100%;
                                    height: 100%;
                                    margin-right: auto;
                                    padding: 12px 0;
                                }

                                .exp-title {
                                    position: relative;
                                    transform: all .3s;color: $color-light;
                                    border-right: 2px solid black;
                                    text-align: center;
                                    height: 100%;
                                    background: darken(rgba($color-secondary-dark, 1), 30%);

                                    /* &::after {
                                        position: absolute;
                                        content: attr("exp-after") "";
                                        bottom: 0;
                                        top: 0;
                                        color: $color-dark;
                                    } */
                                } 

                                #exp {
                                    /* position: absolute;
                                    top: 0;
                                    bottom: 0;
                                    width: 100%;
                                    line-height: 19px; */
                                    position: absolute;
                                    top: 0;
                                    left: calc(3.3rem);
                                    font-size: 13px;
                                    margin-top: 5px;
                                }
                            }

                            p {
                                text-align: center;
                                font-size: 16px;
                            }
                        }
                    }

                    .pokeInfo-content-right {
                        display: inline-block;
                        position: relative;

                        width: 25rem;
                        margin-left: auto;

                        z-index: -1;
                        position: relative;
                        padding: 10px 20px 15px 0;
                        clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 0);
                        border-radius: 2px;

                        .infobar {
                            margin-top: 10px;
                            margin-left: 10%;
                            // position: absolute;
                            // right: 10px;
                            max-width: calc((100% - 10%) - 10px);
                            width: calc((100% - 10%) - 10px);
                            overflow: hidden;

                            .hunger-bar-content {
                                position: relative;
                                border-radius: 3px;

                                margin-top: 5px;
                                width: 100%;
                                background-color: rgba(#333, .5);
                                overflow: hidden;

                                .hunger-box {
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: calc(100% - 4rem) 4rem;
                                    width: 100%;

                                    .hunger-bar {
                                        transition: all .3s;
                                        font-size: 12px; 
                                        background: #86c085;
                                        width: 100%;
                                        height: 100%;
                                        margin-left: auto;
                                        padding: 12px 0;
                                    } 

                                    .hunger-title {
                                        position: relative;
                                        color: $color-light;
                                        border-left: 2px solid black;
                                        text-align: center;
                                        height: 100%;
                                        background: darken(rgba($color-secondary-dark, 1), 30%);
                                    }
                                }      
                            }                      

                            .battle-bar-content {
                                position: relative;
                                border-radius: 3px;

                                margin-top: 5px;
                                width: 100%;
                                background-color: rgba(#333, .5);
                                overflow: hidden;


                                .battle-box {
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: calc(100% - 4rem) 4rem;
                                    width: 100%;

                                    .battle-bar {
                                        transition: all .3s;
                                        font-size: 12px; 
                                        background: lighten($color: #a9012d, $amount: 5%);
                                        width: 100%;
                                        height: 100%;
                                        margin-left: auto;
                                        padding: 12px 0;
                                    } 

                                    .battle-box {
                                        position: relative;
                                        color: $color-light;
                                        border-left: 2px solid black;
                                        text-align: center;
                                        height: 100%;
                                        background: darken(rgba($color-secondary-dark, 1), 30%);
                                    }
                                }  
                            }

                            .toilet-bar-content {
                                position: relative;
                                border-radius: 3px;

                                margin-top: 5px;
                                width: 100%;
                                background-color: rgba(#333, .5);
                                overflow: hidden;

                                .toilet-box {
                                    position: relative;
                                    display: grid;
                                    grid-template-columns: calc(100% - 4rem) 4rem;
                                    width: 100%;

                                    .toilet-bar {
                                        transition: all .3s;
                                        font-size: 12px; 
                                        background: #e3a384;
                                        width: 100%;
                                        height: 100%;
                                        margin-left: auto;
                                        padding: 12px 0;
                                    } 

                                    .toilet-title {
                                        position: relative;
                                        color: $color-light;
                                        border-left: 2px solid black;
                                        text-align: center;
                                        height: 100%;
                                        background: darken(rgba($color-secondary-dark, 1), 30%);
                                    }
                                }  
                            }
                            p {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        .game-footer-container {
            position: relative;
            z-index: 210;
            box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.4);
            padding: 5px;
        }
    }


    .box-right-container {
        z-index: 999;
     
        .box-right-content {
            position: relative;
            margin: 12px ;

            .settings {
                position: absolute;
                left: 0;
                top: 0;
                width: 64px;
                height: 64px;

                i {
                    width: 100%;
                    height: 100%;
                }
            }

            .rule-container {
                position: relative;
                background: #f8f8f8;
                border-radius: 16px;
                border: 2px solid #4870a0;
                box-shadow: inset 0 0 0 4px #a0d0e0;
                    
                margin: 2rem;

                position: relative;

                display: flex;
                flex-wrap: wrap;
                height: auto;

                .chen-container {
                   /*  flex: 0 0 40%;
                    max-width: 40%;
 */
                    .chen-content {
                        margin: 2rem 0 2rem 2rem;
                        width: 12rem;
                        .img-prof-chen {
                            transform: scaleX(-1);
                            width: 100%;
                            height: 100%;
                        }
    
                        
                    }
                }
                
                
                .rule-content {
                    display: table;
                    margin: auto;

                    .rule-title {

                        h1 {
                            width: 80%;
                            margin: 0 auto;

                            &::after {
                                color: #e00808;
                                position: relative;
                                right: 10px;
                                content: " ▼ ";
                                -webkit-filter: drop-shadow(1px 2px 2px rgba(#606060,1));
                                filter: drop-shadow(1px 2px 2px rgba(#606060,1));
                                animation: .7s linear 0s infinite alternate move_eye;
                                font-size: 16px;
                            }

                            position: relative;
                            font-size: 24px;
                        }
                        margin-bottom: 18px;
                    }

                    .rule-text {
                        width: 80%;

                        text-align: center;
                        font-size: .8rem;
                        line-height: 1.1rem;
                        margin: 0 auto;

                        
                        position: relative;

                        & > * {
                           /*  &::after {
                                position: absolute;
                                content: "";
                                width: 6px;
                                border-radius: 8px;
                                height: 100%;
                                right: -1rem;
                                bottom: -5px;
                                top: 0px;
                                background: #e0f0e8;
                                margin-top: auto;
                                margin-bottom: auto;
                            } */
                            margin-bottom: 1.5rem;

                            .idRule {
                                color: red;
                            }
                        }
                    }
                    
                }
            }

            .terminal-log-content {
                width: 90%;
                margin: 0 auto;
                position: relative;
                border-radius: 16px;
                position: relative;

                .terminal-log-box {
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .text-box {
                        width: 100%;
                        height: 100%;
                        z-index: 999;
                    }

                    .valid {
                        &::before {
                            content: " ► ";
                            color: #28943e;
                        }
                    }

                    .unvalid {
                        &::before {
                            content: " ► ";
                            color: #942828;
                        }
                    }

                    p {
                        font-weight: bold;
                        
                    }

                    .pokegotchi {
                        color: #28aaca;   
                    }

                    .git {

                        color: #3b8eea;
                    }

                    .master {
                        color: #c04445 !important;
                    }

                    .cross {
                        position: relative;
                        margin-right: 20px;
                        &::before {
                            content: ""; // ::before and ::after both require content
                            position: absolute;
                            top: 3px;
                            left: 0;
                            width: 12px;
                            height: 12px;
                            background-image: url(../img/cross.png);
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                    }
    
                    .terminal-log {
                        z-index: -1;
                        position: absolute;
                        width: calc(100% - (2.5% * 2));
                        height: calc(100% - (9.5% * 2));
                        top: 9.5%;
                        left: 2.5%;
    
                        background: #282c34;
                        overflow: hidden;

                        .text {
                            margin: 10px;
                        }
                    } 

                    .input-command {
                        bottom: calc(-1rem - 5px);
                        left: 1.9rem;
                        width: calc(100% - (1.9rem * 2));
                        position: absolute;
                        padding: 5px 0;
                        border-radius: 6px;
                        border: none;
                    }
                }
            }
        }
    }
}