.confirm-start-game {
    width: 100%;
    height: 100vh;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        z-index: -2;
        position: absolute;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }

    &::after {
        z-index: -1;
        position: absolute;
        background: -moz-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: -webkit-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: linear-gradient(to right, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        width: 100%;
        height: 100%;
        content: "";
    }

    .confirm-start-game-content {
        display: flex;
        align-items: center;

        .confirm-start-game-text {
            z-index: 100;
            background: -moz-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
            background: -webkit-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
            background: linear-gradient(to right, $gradient-primary 0%, $gradient-secondary 100%);
            border: 5px solid rgba(255, 255, 255, 1);
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
            border-radius: 5px;

            display: flex;

            &::before {
                position: absolute;
                margin-left: -2.2rem;
                margin-top: -2.2rem;
                background-image: url(../img/pokeball.png);
                content:"";
                width: 64px;
                height: 64px;
                animation: bounceIn 0.7s ease-in-out infinite; //linear
                vertical-align: sub;
                margin-right: 4px;
                line-height: 21px;
            }

            &::after {
                position: absolute;

                content: attr(data-before);
            }
 
            .title {
                padding: 3rem 0;
                font-size: 2rem;
                text-align: center;
                margin: .8rem;
                width:1rem;
                word-wrap: break-word;
                color: rgba(0, 0, 0, 0.192);
            }

            .perso-information {
                z-index: 99999;
                position: relative;
                top: 0;
                height: 2px;
                width: auto;
            }

            #pokemon-information {
                padding: 3rem 0;
                font-size: 2rem;
                margin: .8rem;
            }

            .pokemon-img-container {
                position: relative;
            }

            .pokemon-img {
                right: 0;
            }
        }

        .confirm-preview {
            margin-left: 64px;
            color: white;
            padding: 30px;
            
            background: -moz-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
            background: -webkit-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
            background: linear-gradient(to right, $gradient-primary 0%, $gradient-secondary 100%);
            border: 5px solid rgba(255, 255, 255, 1);
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
            border-radius: 5px;

            font-size: 1.6rem;

            &::after {
                position: absolute;
                margin-left: 8rem;
                background-image: url(../img/pokeball.png);
                content:"";
                width: 64px;
                height: 64px;
                animation: bounceIn 0.7s ease-in-out infinite; //linear
                vertical-align: sub;
                margin-right: 4px;
                line-height: 21px;
            }

            #img-pokemon {
                width: 50%;
                text-align: center;
            }

            #element-preview {
                margin: 0;
                padding: 0;
                display: block;
            }
        }

        .confirm-start-game-button-content {
            button {
                margin-top: 1.5rem;
                width: 49%;
            }
        }
    }
} 