.bg-create-name {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
        position: absolute;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }

    &::after {
        position: absolute;
        background: -moz-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: -webkit-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: linear-gradient(to right, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        width: 100%;
        height: 100%;
        content: "";
    }
}

.name-container {
    z-index: 100;
    background: -moz-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
    background: -webkit-linear-gradient(left, $gradient-primary 0%, $gradient-secondary 100%);
    background: linear-gradient(to right, $gradient-primary 0%, $gradient-secondary 100%);
    border: 5px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    //margin: 0 37%;

    &::before {
        position: absolute;
        margin-left: -16rem;
        margin-top: -2.2rem;
        background-image: url(../img/pokeball.png);
        content:"";
        width: 64px;
        height: 64px;
        animation: bounceIn 0.7s ease-in-out infinite; //linear
        vertical-align: sub;
        margin-right: 4px;
        line-height: 21px;
    }

    .name-title {
        padding: 3rem 0;
        font-size: 3rem;
        width: 90%;
        margin: 0 auto;
    }

    h3 {
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    .input-name {
        text-align: center;
        display: block;
        margin-top: 1em;
        width: 70%;
        height: 30px;
        left: 8rem;
        bottom: 3.5rem;
        margin: 20px auto;

        box-shadow: inset 0px 2px 1px  rgba(0,0,0,0.5);
        background: #ffffff;
        border-radius: 30px;
        border: none;
        
        &::placeholder{
            color: $color-dark;
        }

        &:focus {
            outline:0;
        }
    }
}