
#notification{
    position: fixed;
    top: 30px;
    right: -100%;
    color: black;
    padding: 16px;
    border-radius: 4px;
    text-align: right;
    z-index: 9999;
    
    box-shadow:0 0 10px rgba(0,0,0,0.3);

    visibility:hidden;
    opacity:0;
}

#notif-type {
    font-size: 1.2rem;
    margin-bottom: 13px;
    letter-spacing: -3px;
}

#notif-message {
    text-align: right;
    line-height: 25px;
    font-size: .9rem;
    letter-spacing: -2px;
}

#notification.show{
    visibility:visible;
    animation:fadeInOut 3s;
}