@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@font-face {
    font-family: "pokefont";
    src: url("../font/PokemonGb-RAeo.ttf") format("truetype");
}

@font-face {
    font-family: "beatnik";
    src: url("../font/BeatnikSF.ttf") format("truetype");
}

/*
    #################
    /!\ Reset CSS /!\
    #################
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
}

html, body {
    min-width: 360px;
    overflow-x: hidden;
    //cursor: none;
    //user-select: none;
}
//  -----------------------------------------------------------------------------------------------------------------------------------------------

$card-radius: 16px;

///*
    //#--#
    //Background gradient
    //#--#
///*
    $bg-name-opacity: .7;

    $gradient-primary: rgb(200, 245, 210);
    $gradient-secondary: rgb(162, 223, 175);

    $gradient-primary-opacity: rgba($gradient-primary, $bg-name-opacity);
    $gradient-secondary-opacity: rgba($gradient-secondary, $bg-name-opacity);
///*
    //#--#
    //Background gradient
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
///*
    //#--#
    //Button style
    //#--#
///*
    // Var Button
    $btn-primary: #b2e3a7;
    $btn-secondary: #2fd5b5;
    // Var Button Hover
    $btn-primary-hover: #95c88a;
    $btn-secondary-hover: #0eb898;

    $btn-radius: 30px;
///*
    //#--#
    //Button style
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
///*
    //#--#
    //Color config
    //#--#
///*
$color-primary: #b2e3a7;
$color-secondary: #2fd5b5;
$color-secondary-dark: #3b9ba2;
$color-dark: #2b2e2c;
$color-light: #f1fff2;

$color-dark-pixel: #606060;
$color-shadow-pixel: #d0d0c8;

$color-carapuce: #95d5cf;
$color-bulbizarre: #77d5a6;
$color-salameche: #f6ad5b;

$color-health: #33C551;
$color-health-warning: #F8C524;
$color-health-danger: #fc2e2e;

$color-exp: #37b2f9; //#37b2f9;

$marginY: 5%;
$marginX: 5%;

.gender-male {
    color: #2195fc;
}

.gender-female {
    color: #e62063;
}
///*
    //#--#
    //Color config
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
///*
    //#--#
    //Display Type
    //#--#
///*
.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

.d-inline-flex {
    display: inline-flex !important;
}
///*
    //#--#
    //Display Type
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
///*
    //#--#
    //Text Type
    //#--#
///*
.text-primary {
    color: $color-primary !important;
}

.text-secondary {
    color: $color-secondary !important;
}

.text-secondary-dark {
    color: $color-secondary-dark !important;
}

.text-dark {
    color: $color-dark !important;
}

.text-light {
    color: $color-light !important;
}

.text-carapuce {
    color: $color-carapuce !important;
}

.text-bulbizarre {
    color: $color-bulbizarre !important;
}

.text-salameche {
    color: $color-salameche !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}
///*
    //#--#
    //Text Type
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
///*
    //#--#
    //Background Type
    //#--#
///*
.bg-primary {
    background: $color-primary !important;
}

.bg-secondary {
    background: $color-secondary !important;
}

.bg-secondary-dark {
    background: $color-secondary-dark !important;
}

.bg-dark {
    background: $color-dark !important;
}

.bg-light {
    background: $color-light !important;
}

.bg-card-carapuce {
    background: $color-carapuce !important;

    background: -moz-linear-gradient(160deg, lighten($color-carapuce, 5%) 50%, $color-carapuce 30%) !important;
    background: -webkit-linear-gradient(160deg, lighten($color-carapuce, 5%) 50%, $color-carapuce 30%) !important;
    background: linear-gradient(160deg, lighten($color-carapuce, 5%) 50%, $color-carapuce 30%) !important;
}

.bg-card-bulbizarre {
    background: $color-bulbizarre !important;

    background: -moz-linear-gradient(160deg, lighten($color-bulbizarre, 5%) 50%, $color-bulbizarre 30%) !important;
    background: -webkit-linear-gradient(160deg, lighten($color-bulbizarre, 5%) 50%, $color-bulbizarre 30%) !important;
    background: linear-gradient(160deg, lighten($color-bulbizarre, 5%) 50%, $color-bulbizarre 30%) !important;
}

// 150deg

.bg-card-salameche {
    background: $color-salameche !important;

    background: -moz-linear-gradient(160deg, lighten($color-salameche, 5%) 50%, $color-salameche 30%) !important;
    background: -webkit-linear-gradient(160deg, lighten($color-salameche, 5%) 50%, $color-salameche 30%) !important;
    background: linear-gradient(160deg, lighten($color-salameche, 5%) 50%, $color-salameche 30%) !important;
}

.bg-carapuce {
    background: $color-carapuce !important;
}



.bg-bulbizarre {
    background: $color-bulbizarre !important;
}

.bg-salameche {
    background: $color-salameche !important;
}

.bg-health {
    background: $color-health;
}

.bg-health-warning {
    background: $color-health-warning;
}

.bg-health-danger {
    background: $color-health-danger;
}

.bg-red {
    background: red !important;
}
///*
    //#--#
    //Background Type
    //#--#
///*
//  -----------------------------------------------------------------------------------------------------------------------------------------------
.font-pixel {
    font-family: 'pokefont', sans-serif;
    color: $color-dark-pixel !important;
    text-shadow: 1px 1px 1px $color-shadow-pixel;
}

.font-beatnik {
    font-family: 'beatnik', sans-serif;
}

.font-Consolas {
    font-family: Consolas, Courier, monospace;
    font-size: 14px;
}

#removeData {
    z-index: 99999999;
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 5px;
    right: 5px;
    opacity: .2;
}

.margin {
    margin: $marginY $marginX;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: auto;

  /*   &::before {
        z-index: -2;
        position: absolute;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }

    &::after {
        z-index: -1;
        position: absolute;
        background: -moz-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: -webkit-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: linear-gradient(to right, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        width: 100%;
        height: 100%;
        content: "";
    } */
}
