.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
        z-index: -6;
        position: fixed;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }
    &::after {
        z-index: -5;
        position: fixed;
        background: -moz-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: -webkit-linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        background: linear-gradient(160deg, $gradient-primary-opacity 42%, $gradient-secondary-opacity 30%);
        width: 100%;
        top: 0;
        height: 100%;
        content: "";
    } 

    .home-content {
        z-index: 999;
        background: -moz-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
        background: -webkit-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
        background: linear-gradient(to right, #F9FFF9 0%, #C5FEBA 100%);
        border: 5px solid rgba(255, 255, 255, 1);
        box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);

        background: #f8f8f8;
        border-radius: 16px;
        border: 2px solid #4870a0;
        box-shadow: inset 0 0 0 4px #a0d0e0;
        padding: 10px;
        position: relative;

        width: 25rem;

        /* &::before {
            position: absolute;
            left: -1.9rem;
            top: -1.9rem;
            background-image: url(../img/pokeball.png);
            content:"";
            width: 64px;
            height: 64px;
            animation: bounceIn 0.7s ease-in-out infinite; //linear
        }
 */
        .home-title {
            padding: 3rem 0;
            width: 90%;
            margin: 0 auto;

            .title {
                font-size: 32px;
            }

            .subtitle {
                font-size: 18px;
                margin-top: 13px;
            }

        }

        .img {
            width: 100%;
            margin: 0 auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .home-footer {
            display: flex;
            justify-content: space-around;

            .footer-btn {
                margin-top: 1rem;
                width: auto;
                width: 10rem;
                height: 40px;
                left: 8rem;
                bottom: 3.5rem;
    
                background: -moz-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
                background: -webkit-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
                background: linear-gradient(to right, #b2e3a7 0%, #2fd5b5 100%);
                color: #f1fff2;
    
                border-radius: 30px;
                border: none;
    
                &:hover {
                    transition: linear .3s;
                    background: -moz-linear-gradient(left, #95c88a 0%, #0eb898 100%);
                    background: -webkit-linear-gradient(left, #95c88a 0%, #0eb898 100%);
                    background: linear-gradient(to right, #95c88a 0%, #0eb898 100%);
                    color: #f1fff2;
                    cursor: pointer;
                    
                }
    
                &:active{
                    box-shadow: inset 0px 2px 20px  rgba(0,0,0,0.5);
                    border: none;
                    transition: ease-in-out .1s;
    
                }
    
                &:focus {
                    outline:0;
                    transition: .1s;
                }
    
            } 
        }
    }
}