.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;

    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.cursor2{
    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.confirm-box-container {/*
    opacity: 0;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 10px;
    visibility:hidden;
    transition: .5s;*/
    z-index: 9999;

    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 20px black;
    background: #f1f1f1;
    transition: .5s;

    opacity: 0;
    visibility:hidden;
}

.confirm-box-container.active{
    top: 15%;

    opacity: 1;
    visibility:visible;
    transition: .5s;
}

@keyframes fadeInOut{
    5%,95%{
        opacity:1;
        top:50px;
        right: 15px;
    }

    15%,85%{
        opacity:1;
        top: 30px; 
        right: 15px;
    }

    100%{
        opacity:1;
        top: 0; 
        right: 15px;
    }
}

@keyframes bounceIn {
    from {transform: rotate(0deg);}
    to   {transform: rotate(-360deg);}
}

@keyframes notification {
    from {
        width: 0;
    }
    to {
        width: 20%;
    }
} 

@keyframes move_eye{
    0% {
        top: 3px;
    }
    100% {
        top: 7px;
    }
}

.col-6 {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    min-height: calc(100vh - 40px);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-4 {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.col-es-4 {
    flex-basis: 0;
    flex-grow: 1;
    min-width: 0;
    max-width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .col-4 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .chen-container {
        flex: 0 0 100%;
        max-width: 100%;

        .chen-content {
            margin: 1rem auto !important;
        }
    }

    .rule-content {
        flex: 0 0 100%;
        max-width: 100%; 
    }

    .home-content {
        background: red;
        width: 100% !important;
        height: calc(100% - 24px);
        border-radius: 0px !important;
    }
}

@media (min-width: 576px) {
    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .col-4 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .col-es-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }
    
    .chen-container {
        flex: 0 0 100%;
        max-width: 100%;

        .chen-content {
            margin: 1rem auto !important;
        }
    }

    .rule-content {
        flex: 0 0 100%;
        max-width: 100%; 
    }
}

@media screen and (min-width: 768px){
    .col-6 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .col-4 {
        flex: 0 0 100% !important;
        max-width: 100%;
    }

    .col-es-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }

    .chen-container {
        flex: 0 0 100%;
        max-width: 100%;

        .chen-content {
            margin: 1rem auto !important;
        }
    }

    .rule-content {
        flex: 0 0 100%;
        max-width: 100%; 
    }
}

@media (min-width: 992px) {
    .col-6 {
        flex: 0 0 50% !important;
        max-width: 50%;
    }

    .col-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }

    .col-es-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }

    .chen-container {
        flex: 0 0 100%;
        max-width: 100%;

        .chen-content {
            margin: 1rem auto !important;
        }
    }

    .rule-content {
        flex: 0 0 100%;
        max-width: 100%; 
    }
}

@media (min-width: 1200px) {
    .col-6 {
        flex: 0 0 50% !important;
        max-width: 50%;
    }

    .col-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }

    .col-es-4 {
        flex: 0 0 33.3333333333% !important;
        max-width: 33.3333333333%;
    }
    
    .chen-container {
        flex: 0 0 40%;
        max-width: 40%;
    }

    .rule-content {
        flex: 0 0 60%;
        max-width: 60%; 
    }
}

@media screen and (max-width: 500px){
    .pokeInfo-content-right {

        width: calc(100% - 20px) !important;
        clip-path: none !important;
        padding: 10px 0 15px 0 !important;
        margin: 0 10px 10px 10px !important;

        h2 {
            margin-right: 12px;
        }

        .infobar {
            // position: absolute;
            // right: 10px;
            width: 100% !important;
            overflow: hidden;
        } 
    }
        
    .imgPokegotchi-content {
        padding: 2rem 0 !important;
        width: 12rem !important;
        height: 12rem !important;
        top: 20px;
        position: relative !important;

        img {
            width: 100% !important;
            height: 100% !important;
        }

        .pokegotchi {
            position: relative !important;
        }
    }

    .pokeInfo-content-left {
        

        width: calc(100% - 20px) !important;
        clip-path: none !important;
        padding: 10px 0 15px 0 !important;

        h2 {
            margin-left: 12px;
        }

        h3 {
            margin-right: 12px !important;
        }

        .infobar {
            margin-top: 10px;
            margin-right: 10%;
            margin-left: 10px;
            max-width: calc((100% - 10%) - 10px);
            width: calc((100% - 10%) - 10px);
            overflow: hidden;
        } 
    }
}

@media screen and (max-width: 992px){
    .card {
        margin: 20px auto !important;
        height: auto !important;
    }

    .pokeInfo-container {
        flex-direction: row !important;
    }

    .box-right-content {
        margin: 12px 0 !important;
        .rule-container {
            margin: 0 !important;
        }
    }

    .terminal-log-container {
        margin-top: 2em;

        .terminal-log-content {
            width: 100% !important;
        }
    }
   
}

@media screen and (max-width: 1200px){
    .margin {
        margin: 10px 3%;
    }
    
    .chose-character-content {
        margin: 0 0 !important;

        .pokehelp-content {
            p {
                //margin-top: 0 !important;
                order: -1;
                margin: 3px;
            }
    
            .col-4 { 
                display: inline-flex; 
                flex-direction: row; 
            }
        }
    
        .pokehelp-container {
            padding-bottom: 50px;
        }
    }
}

@media screen and (max-width: 768px){
    .pokeInfo-container {
        flex-direction: column !important;
    }
}

@media screen and (max-width: 1350px){
    .pokeInfo-container {
        flex-direction: column;
    }


    .rule-title {
        margin-top: 1rem;
    }
}

