html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    //user-select: none;
}

$bg-name-opacity: .6;

.bg-name {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    &::before {
        z-index: 1;
        position: absolute;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }

    &::after {
        z-index: 2;
        position: absolute;
        background: -moz-linear-gradient(left, rgba(249, 255, 249, $bg-name-opacity) 0%, rgba(197, 254, 186, $bg-name-opacity) 100%);
        background: -webkit-linear-gradient(left, rgba(249, 255, 249, $bg-name-opacity) 0%, rgba(197, 254, 186, $bg-name-opacity) 100%);
        background: linear-gradient(to right, rgba(249, 255, 249, $bg-name-opacity) 0%, rgba(197, 254, 186, $bg-name-opacity) 100%);
        width: 100%;
        height: 100%;
        content: "";
    }
}

.name-container {
    z-index: 999;
    background: -moz-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
    background: -webkit-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
    background: linear-gradient(to right, #F9FFF9 0%, #C5FEBA 100%);
    border: 5px solid rgba(255, 255, 255, 1);
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    //margin: 0 37%;

    &::before {
        position: absolute;
        left: 45rem;
        background-image: url(../img/pokeball.png);
        content:"";
        width: 64px;
        height: 64px;
        animation: bounceIn 0.7s ease-in-out infinite; //linear
        vertical-align: sub;
        margin-right: 4px;
        line-height: 21px;
    }
/*
    h3 {
        margin-top: 2rem;
        font-size: 1.3rem;
        color: #055f79;
    }

    .name-title {
        color: #055f79;
        padding: 3rem 0;
        font-size: 32px;
        font-family: pokefont, sans-serif;
    }

    .input-name {
        text-align: center;
        margin-top: 1em;
        width: 70%;
        height: 30px;
        left: 8rem;
        bottom: 3.5rem;

        box-shadow: inset 0px 2px 1px  rgba(0,0,0,0.5);
        background: #ffffff;
        border-radius: 30px;
        border: none;
        color: #2b2e2c;
        
        &::placeholder{
            color: #2b2e2c;
        }

        &:focus {
            outline:0;
        }
    }

    .btn {
        margin-top: 1em;
        width: 50%;
        height: 40px;
        left: 8rem;
        bottom: 3.5rem;

        background: -moz-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
        background: -webkit-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
        background: linear-gradient(to right, #b2e3a7 0%, #2fd5b5 100%);
        color: #f1fff2;

        border-radius: 30px;
        border: none;

        &:hover {
            transition: linear .3s;
            background: -moz-linear-gradient(left, #95c88a 0%, #0eb898 100%);
            background: -webkit-linear-gradient(left, #95c88a 0%, #0eb898 100%);
            background: linear-gradient(to right, #95c88a 0%, #0eb898 100%);
            color: #f1fff2;
            cursor: pointer;
            
        }

        &:active{
            box-shadow: inset 0px 2px 20px  rgba(0,0,0,0.5);
            border: none;
            transition: ease-in-out .1s;

        }

        &:focus {
            outline:0;
            transition: .1s;
        }

    }*/
}

.game {
    display: none;
}

@keyframes bounceIn {
    from {transform: rotate(0deg);}
    to   {transform: rotate(-360deg);}
}

