@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");
@font-face {
  font-family: "pokefont";
  src: url("../font/PokemonGb-RAeo.ttf") format("truetype");
}
@font-face {
  font-family: "beatnik";
  src: url("../font/BeatnikSF.ttf") format("truetype");
}
/*
    #################
    /!\ Reset CSS /!\
    #################
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html, body {
  min-width: 360px;
  overflow-x: hidden;
}

.gender-male {
  color: #2195fc;
}

.gender-female {
  color: #e62063;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.text-primary {
  color: #b2e3a7 !important;
}

.text-secondary {
  color: #2fd5b5 !important;
}

.text-secondary-dark {
  color: #3b9ba2 !important;
}

.text-dark {
  color: #2b2e2c !important;
}

.text-light {
  color: #f1fff2 !important;
}

.text-carapuce {
  color: #95d5cf !important;
}

.text-bulbizarre {
  color: #77d5a6 !important;
}

.text-salameche {
  color: #f6ad5b !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.bg-primary {
  background: #b2e3a7 !important;
}

.bg-secondary {
  background: #2fd5b5 !important;
}

.bg-secondary-dark {
  background: #3b9ba2 !important;
}

.bg-dark {
  background: #2b2e2c !important;
}

.bg-light {
  background: #f1fff2 !important;
}

.bg-card-carapuce {
  background: #95d5cf !important;
  background: -moz-linear-gradient(160deg, #a7dcd7 50%, #95d5cf 30%) !important;
  background: -webkit-linear-gradient(160deg, #a7dcd7 50%, #95d5cf 30%) !important;
  background: linear-gradient(160deg, #a7dcd7 50%, #95d5cf 30%) !important;
}

.bg-card-bulbizarre {
  background: #77d5a6 !important;
  background: -moz-linear-gradient(160deg, #8adbb3 50%, #77d5a6 30%) !important;
  background: -webkit-linear-gradient(160deg, #8adbb3 50%, #77d5a6 30%) !important;
  background: linear-gradient(160deg, #8adbb3 50%, #77d5a6 30%) !important;
}

.bg-card-salameche {
  background: #f6ad5b !important;
  background: -moz-linear-gradient(160deg, #f7b973 50%, #f6ad5b 30%) !important;
  background: -webkit-linear-gradient(160deg, #f7b973 50%, #f6ad5b 30%) !important;
  background: linear-gradient(160deg, #f7b973 50%, #f6ad5b 30%) !important;
}

.bg-carapuce {
  background: #95d5cf !important;
}

.bg-bulbizarre {
  background: #77d5a6 !important;
}

.bg-salameche {
  background: #f6ad5b !important;
}

.bg-health {
  background: #33C551;
}

.bg-health-warning {
  background: #F8C524;
}

.bg-health-danger {
  background: #fc2e2e;
}

.bg-red {
  background: red !important;
}

.font-pixel {
  font-family: "pokefont", sans-serif;
  color: #606060 !important;
  text-shadow: 1px 1px 1px #d0d0c8;
}

.font-beatnik {
  font-family: "beatnik", sans-serif;
}

.font-Consolas {
  font-family: Consolas, Courier, monospace;
  font-size: 14px;
}

#removeData {
  z-index: 99999999;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 5px;
  right: 5px;
  opacity: 0.2;
}

.margin {
  margin: 5% 5%;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /*   &::before {
        z-index: -2;
        position: absolute;
        background-image: url(../img/bg-name.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(3px);
        width: 100%;
        height: 100%;
        content: "";
    }

    &::after {
        z-index: -1;
        position: absolute;
        background: -moz-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: -webkit-linear-gradient(left, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        background: linear-gradient(to right, $gradient-primary-opacity 0%, $gradient-secondary-opacity 100%);
        width: 100%;
        height: 100%;
        content: "";
    } */
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #c6c6c6;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #c6c6c6;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

.confirm-box-container {
  /*
  opacity: 0;
  overflow: hidden;
  background: #f1f1f1;
  box-shadow: 0 0 20px black;
  border-radius: 8px;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  visibility:hidden;
  transition: .5s;*/
  z-index: 9999;
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 0 20px black;
  background: #f1f1f1;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}

.confirm-box-container.active {
  top: 15%;
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
}

@keyframes fadeInOut {
  5%, 95% {
    opacity: 1;
    top: 50px;
    right: 15px;
  }
  15%, 85% {
    opacity: 1;
    top: 30px;
    right: 15px;
  }
  100% {
    opacity: 1;
    top: 0;
    right: 15px;
  }
}
@keyframes bounceIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
@keyframes notification {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}
@keyframes move_eye {
  0% {
    top: 3px;
  }
  100% {
    top: 7px;
  }
}
.col-6 {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  min-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-4 {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.col-es-4 {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .col-4 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .chen-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .chen-container .chen-content {
    margin: 1rem auto !important;
  }

  .rule-content {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .home-content {
    background: red;
    width: 100% !important;
    height: calc(100% - 24px);
    border-radius: 0px !important;
  }
}
@media (min-width: 576px) {
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .col-4 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .col-es-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .chen-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .chen-container .chen-content {
    margin: 1rem auto !important;
  }

  .rule-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .col-4 {
    flex: 0 0 100% !important;
    max-width: 100%;
  }

  .col-es-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .chen-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .chen-container .chen-content {
    margin: 1rem auto !important;
  }

  .rule-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-6 {
    flex: 0 0 50% !important;
    max-width: 50%;
  }

  .col-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .col-es-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .chen-container {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .chen-container .chen-content {
    margin: 1rem auto !important;
  }

  .rule-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-6 {
    flex: 0 0 50% !important;
    max-width: 50%;
  }

  .col-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .col-es-4 {
    flex: 0 0 33.3333333333% !important;
    max-width: 33.3333333333%;
  }

  .chen-container {
    flex: 0 0 40%;
    max-width: 40%;
  }

  .rule-content {
    flex: 0 0 60%;
    max-width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .pokeInfo-content-right {
    width: calc(100% - 20px) !important;
    clip-path: none !important;
    padding: 10px 0 15px 0 !important;
    margin: 0 10px 10px 10px !important;
  }
  .pokeInfo-content-right h2 {
    margin-right: 12px;
  }
  .pokeInfo-content-right .infobar {
    width: 100% !important;
    overflow: hidden;
  }

  .imgPokegotchi-content {
    padding: 2rem 0 !important;
    width: 12rem !important;
    height: 12rem !important;
    top: 20px;
    position: relative !important;
  }
  .imgPokegotchi-content img {
    width: 100% !important;
    height: 100% !important;
  }
  .imgPokegotchi-content .pokegotchi {
    position: relative !important;
  }

  .pokeInfo-content-left {
    width: calc(100% - 20px) !important;
    clip-path: none !important;
    padding: 10px 0 15px 0 !important;
  }
  .pokeInfo-content-left h2 {
    margin-left: 12px;
  }
  .pokeInfo-content-left h3 {
    margin-right: 12px !important;
  }
  .pokeInfo-content-left .infobar {
    margin-top: 10px;
    margin-right: 10%;
    margin-left: 10px;
    max-width: calc((100% - 10%) - 10px);
    width: calc((100% - 10%) - 10px);
    overflow: hidden;
  }
}
@media screen and (max-width: 992px) {
  .card {
    margin: 20px auto !important;
    height: auto !important;
  }

  .pokeInfo-container {
    flex-direction: row !important;
  }

  .box-right-content {
    margin: 12px 0 !important;
  }
  .box-right-content .rule-container {
    margin: 0 !important;
  }

  .terminal-log-container {
    margin-top: 2em;
  }
  .terminal-log-container .terminal-log-content {
    width: 100% !important;
  }
}
@media screen and (max-width: 1200px) {
  .margin {
    margin: 10px 3%;
  }

  .chose-character-content {
    margin: 0 0 !important;
  }
  .chose-character-content .pokehelp-content p {
    order: -1;
    margin: 3px;
  }
  .chose-character-content .pokehelp-content .col-4 {
    display: inline-flex;
    flex-direction: row;
  }
  .chose-character-content .pokehelp-container {
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 768px) {
  .pokeInfo-container {
    flex-direction: column !important;
  }
}
@media screen and (max-width: 1350px) {
  .pokeInfo-container {
    flex-direction: column;
  }

  .rule-title {
    margin-top: 1rem;
  }
}
#notification {
  position: fixed;
  top: 30px;
  right: -100%;
  color: black;
  padding: 16px;
  border-radius: 4px;
  text-align: right;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
}

#notif-type {
  font-size: 1.2rem;
  margin-bottom: 13px;
  letter-spacing: -3px;
}

#notif-message {
  text-align: right;
  line-height: 25px;
  font-size: 0.9rem;
  letter-spacing: -2px;
}

#notification.show {
  visibility: visible;
  animation: fadeInOut 3s;
}

.btn {
  margin-top: 1em;
  padding: 0 2.5rem;
  height: 40px;
  left: 8rem;
  bottom: 3.5rem;
  font-size: 1.3rem;
  color: #f1fff2;
  border-radius: 30px;
  border: none;
  margin-bottom: 2rem;
  cursor: pointer;
}
.btn:focus {
  outline: 0;
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-card {
  padding: 0 !important;
  margin: 0 !important;
  position: absolute;
  z-index: 999;
  width: 12rem;
  margin: 0 auto;
  bottom: -2.5rem !important;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: #f1fff2;
  font-size: 1rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.2);
}

.btn-carapuce {
  background: linear-gradient(-45deg, #f1fff2 0 calc(50% - 10px), #3b968d calc(50% + 10px) 100%);
  background-size: 250% 100%;
  background-position: 100% 50%;
}
.btn-carapuce:hover, .btn-carapuce:focus {
  background-position: 0% 50%;
  transition: 0.5s all;
  color: white !important;
}

.btn-bulbizarre {
  background: linear-gradient(-45deg, #f1fff2 0 calc(50% - 10px), #2a895a calc(50% + 10px) 100%);
  background-size: 250% 100%;
  background-position: 100% 50%;
}
.btn-bulbizarre:hover, .btn-bulbizarre:focus {
  background-position: 0% 50%;
  transition: 0.5s all;
  color: white !important;
}

.btn-salameche {
  background: linear-gradient(-45deg, #f1fff2 0 calc(50% - 10px), #ae610a calc(50% + 10px) 100%);
  background-size: 250% 100%;
  background-position: 100% 50%;
}
.btn-salameche:hover, .btn-salameche:focus {
  background-position: 0% 50%;
  transition: 0.5s all;
  color: white !important;
}

.btn-hunger, .btn-battle, .btn-toilet {
  position: relative;
  color: #2b2e2c;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  text-align: center;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  margin: 1rem auto;
  transition: 0.3s all ease-out;
  border: 2px solid rgba(81, 145, 150, 0.3);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.btn-hunger:hover, .btn-hunger:focus, .btn-battle:hover, .btn-battle:focus, .btn-toilet:hover, .btn-toilet:focus {
  background: rgba(51, 51, 51, 0.9);
  transition: 0.3s all linear;
  color: #f1fff2;
  outline: 0;
}
.btn-hunger:hover img, .btn-hunger:focus img, .btn-battle:hover img, .btn-battle:focus img, .btn-toilet:hover img, .btn-toilet:focus img {
  filter: blur(1px);
}
.btn-hunger p, .btn-battle p, .btn-toilet p {
  position: relative;
  z-index: 99999;
}
.btn-hunger img, .btn-battle img, .btn-toilet img {
  z-index: 1;
  transform: rotate(-30deg);
  width: 80%;
  height: 80%;
  position: absolute;
  top: 10px;
  filter: blur(2px);
}

/* .btn-hunger {
    &::after {
        position: absolute;
        background-color: red;
        height: attr(data-hunger) "";
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
} 

.btn-battle {
    &::after {
        position: absolute;
        background-color: red;
        height: 100%;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
} 

.btn-toilet {
    &::after {
        position: absolute;
        background-color: red;
        height: 100%;
        width: 100%;
        content: "";
        bottom: 0;
        left: 0;
    }
}  */
.confirm-start-game {
  width: 100%;
  height: 100vh;
  z-index: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirm-start-game::before {
  z-index: -2;
  position: absolute;
  background-image: url(../img/bg-name.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  content: "";
}
.confirm-start-game::after {
  z-index: -1;
  position: absolute;
  background: -moz-linear-gradient(left, rgba(200, 245, 210, 0.7) 0%, rgba(162, 223, 175, 0.7) 100%);
  background: -webkit-linear-gradient(left, rgba(200, 245, 210, 0.7) 0%, rgba(162, 223, 175, 0.7) 100%);
  background: linear-gradient(to right, rgba(200, 245, 210, 0.7) 0%, rgba(162, 223, 175, 0.7) 100%);
  width: 100%;
  height: 100%;
  content: "";
}
.confirm-start-game .confirm-start-game-content {
  display: flex;
  align-items: center;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text {
  z-index: 100;
  background: -moz-linear-gradient(left, #c8f5d2 0%, #a2dfaf 100%);
  background: -webkit-linear-gradient(left, #c8f5d2 0%, #a2dfaf 100%);
  background: linear-gradient(to right, #c8f5d2 0%, #a2dfaf 100%);
  border: 5px solid white;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text::before {
  position: absolute;
  margin-left: -2.2rem;
  margin-top: -2.2rem;
  background-image: url(../img/pokeball.png);
  content: "";
  width: 64px;
  height: 64px;
  animation: bounceIn 0.7s ease-in-out infinite;
  vertical-align: sub;
  margin-right: 4px;
  line-height: 21px;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text::after {
  position: absolute;
  content: attr(data-before);
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text .title {
  padding: 3rem 0;
  font-size: 2rem;
  text-align: center;
  margin: 0.8rem;
  width: 1rem;
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.192);
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text .perso-information {
  z-index: 99999;
  position: relative;
  top: 0;
  height: 2px;
  width: auto;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text #pokemon-information {
  padding: 3rem 0;
  font-size: 2rem;
  margin: 0.8rem;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text .pokemon-img-container {
  position: relative;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-text .pokemon-img {
  right: 0;
}
.confirm-start-game .confirm-start-game-content .confirm-preview {
  margin-left: 64px;
  color: white;
  padding: 30px;
  background: -moz-linear-gradient(left, #c8f5d2 0%, #a2dfaf 100%);
  background: -webkit-linear-gradient(left, #c8f5d2 0%, #a2dfaf 100%);
  background: linear-gradient(to right, #c8f5d2 0%, #a2dfaf 100%);
  border: 5px solid white;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  font-size: 1.6rem;
}
.confirm-start-game .confirm-start-game-content .confirm-preview::after {
  position: absolute;
  margin-left: 8rem;
  background-image: url(../img/pokeball.png);
  content: "";
  width: 64px;
  height: 64px;
  animation: bounceIn 0.7s ease-in-out infinite;
  vertical-align: sub;
  margin-right: 4px;
  line-height: 21px;
}
.confirm-start-game .confirm-start-game-content .confirm-preview #img-pokemon {
  width: 50%;
  text-align: center;
}
.confirm-start-game .confirm-start-game-content .confirm-preview #element-preview {
  margin: 0;
  padding: 0;
  display: block;
}
.confirm-start-game .confirm-start-game-content .confirm-start-game-button-content button {
  margin-top: 1.5rem;
  width: 49%;
}

.chose-character {
  /* START BACKGROUND 3 POKEMONS */
  /* END BACKGROUND 3 POKEMONS */
  /* START BACKGROUND 8 POKEMONS */
  /* END BACKGROUND 8 POKEMONS */
}
.chose-character::before {
  z-index: -6;
  position: fixed;
  background-image: url(../img/bg-name.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  content: "";
}
.chose-character::after {
  z-index: -5;
  position: fixed;
  background: -moz-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: -webkit-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  width: 100%;
  top: 0;
  height: 100%;
  content: "";
}
.chose-character .banner::before {
  z-index: -1;
  background-image: url(../img/banner.png);
  background-position: left;
  background-repeat: no-repeat;
  position: fixed;
  float: right;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}
.chose-character .banner::after {
  z-index: -2;
  opacity: 0.5;
  background-image: url(../img/banner.png);
  background-position: left;
  background-repeat: no-repeat;
  position: fixed;
  float: right;
  top: -10px;
  left: -10px;
  width: 100%;
  height: 100%;
  content: "";
}
.chose-character .header-container {
  z-index: 100;
  text-align: center;
  padding: 10px 5%;
}
.chose-character .header-container .header-content {
  background: #f7f7f9;
  border-radius: 18px;
  padding: 30px 5%;
  color: #375153;
  border: 4px solid rgba(81, 145, 150, 0.3);
  box-shadow: 0 0 10px 2px rgba(81, 145, 150, 0.3);
  /* box-shadow: 0 -15px 15px rgba(#519196, .2),
  inset 0 -15px 15px rgba(#519196, .2),
  0 15px 15px rgba(#519196, .3),
  inset 0 15px 15px rgba(#519196, .3); */
}
.chose-character .header-container .header-content .name-title {
  font-size: 1.7rem;
  letter-spacing: -2px;
  padding: 5px;
}
.chose-character .header-container .header-content .name-subtitle {
  margin-top: 12px;
  font-size: 1.2rem;
  letter-spacing: -2px;
  padding: 5px;
}
.chose-character .header-container .header-content .name-subtitle::after {
  color: crimson;
  position: relative;
  right: 10px;
  content: " ▼ ";
  -webkit-filter: drop-shadow(1px 2px 2px black);
  filter: drop-shadow(1px 2px 2px black);
  animation: 0.7s linear 0s infinite alternate move_eye;
}
.chose-character .chose-character-content {
  position: relative;
  padding: 4rem 0;
  margin: 0 5%;
}
.chose-character .chose-character-content .card {
  z-index: 999;
  width: 325px;
  height: 475px;
  transform-style: preserve-3d;
  margin: 0 30px;
  cursor: pointer;
  margin: 0 auto;
}
.chose-character .chose-character-content .card .face {
  border-radius: 16px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transition: 0.8s ease-in-out;
  transform: perspective(500px) rotateY(0deg);
  background: -moz-linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
  background: -webkit-linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
  background: linear-gradient(160deg, #ffffff 42%, #f7f7f9 30%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.chose-character .chose-character-content .card .back {
  border-radius: 16px;
  opacity: 0;
  transform: rotateX(180deg);
  position: relative;
}
.chose-character .chose-character-content .card .back .elm {
  position: relative;
  width: 100%;
  height: 100%;
}
.chose-character .chose-character-content .card .back .elm .desc {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 50%;
  height: 100%;
}
.chose-character .chose-character-content .card .back .elm .desc .pokeinformation {
  flex: 25 0 1;
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  padding: 10px 0;
}
.chose-character .chose-character-content .card .back .elm .desc .pokeinformation h2 {
  font-size: 1.6em;
}
.chose-character .chose-character-content .card .back .elm .desc .pokeinformation p {
  font-size: 12px;
}
.chose-character .chose-character-content .card .back .elm .desc .pokeinformation .gender {
  font-size: 24px;
  position: absolute;
  top: 12px;
  right: 12px;
}
.chose-character .chose-character-content .card .back .elm .desc .img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  padding: 5px 0;
  margin-top: 12px;
  overflow: hidden;
  min-width: 228px;
  min-height: 244px;
  /*  &.bulbizarre-img img {
       margin-top: 1rem !important;
       width: 100%;
       height: 80%;
       //background: red;
       margin: 0 auto;
   } */
}
.chose-character .chose-character-content .card .back .elm .desc .img img {
  width: 100%;
  height: 100%;
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container {
  flex: 25 0 20%;
  z-index: 10;
  width: 100%;
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content {
  padding: 12px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  position: relative;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content::before {
  width: calc(90% + (16px / 2));
  height: 80px;
  top: 0;
  content: "";
  background: rgba(241, 255, 242, 0.5);
  position: absolute;
  z-index: -1;
  border-radius: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content::after {
  width: 80%;
  left: 10%;
  height: 90px;
  top: 0;
  content: "";
  background: rgba(241, 255, 242, 0.2);
  position: absolute;
  z-index: -2;
  border-radius: 16px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content .weight::after {
  content: "kg ";
  font-size: 0.9rem;
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content .size::after {
  content: "m ";
  font-size: 0.9rem;
}
.chose-character .chose-character-content .card .back .elm .desc .pokehelp-container .pokehelp-content p {
  margin-top: 12px;
  font-size: 0.8rem;
}

.card:hover .face.front {
  opacity: 0;
  transform: rotateX(-180deg);
}

.card:hover .face.back {
  opacity: 1;
  transform: rotateX(360deg);
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-container::before {
  z-index: -6;
  position: fixed;
  background-image: url(../img/bg-name.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  height: 100%;
  content: "";
}
.home-container::after {
  z-index: -5;
  position: fixed;
  background: -moz-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: -webkit-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  width: 100%;
  top: 0;
  height: 100%;
  content: "";
}
.home-container .home-content {
  z-index: 999;
  background: -moz-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
  background: -webkit-linear-gradient(left, #F9FFF9 0%, #C5FEBA 100%);
  background: linear-gradient(to right, #F9FFF9 0%, #C5FEBA 100%);
  border: 5px solid white;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.5);
  background: #f8f8f8;
  border-radius: 16px;
  border: 2px solid #4870a0;
  box-shadow: inset 0 0 0 4px #a0d0e0;
  padding: 10px;
  position: relative;
  width: 25rem;
  /* &::before {
             position: absolute;
             left: -1.9rem;
             top: -1.9rem;
             background-image: url(../img/pokeball.png);
             content:"";
             width: 64px;
             height: 64px;
             animation: bounceIn 0.7s ease-in-out infinite; //linear
         }
  */
}
.home-container .home-content .home-title {
  padding: 3rem 0;
  width: 90%;
  margin: 0 auto;
}
.home-container .home-content .home-title .title {
  font-size: 32px;
}
.home-container .home-content .home-title .subtitle {
  font-size: 18px;
  margin-top: 13px;
}
.home-container .home-content .img {
  width: 100%;
  margin: 0 auto;
}
.home-container .home-content .img img {
  width: 100%;
  height: 100%;
}
.home-container .home-content .home-footer {
  display: flex;
  justify-content: space-around;
}
.home-container .home-content .home-footer .footer-btn {
  margin-top: 1rem;
  width: auto;
  width: 10rem;
  height: 40px;
  left: 8rem;
  bottom: 3.5rem;
  background: -moz-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
  background: -webkit-linear-gradient(left, #b2e3a7 0%, #2fd5b5 100%);
  background: linear-gradient(to right, #b2e3a7 0%, #2fd5b5 100%);
  color: #f1fff2;
  border-radius: 30px;
  border: none;
}
.home-container .home-content .home-footer .footer-btn:hover {
  transition: linear 0.3s;
  background: -moz-linear-gradient(left, #95c88a 0%, #0eb898 100%);
  background: -webkit-linear-gradient(left, #95c88a 0%, #0eb898 100%);
  background: linear-gradient(to right, #95c88a 0%, #0eb898 100%);
  color: #f1fff2;
  cursor: pointer;
}
.home-container .home-content .home-footer .footer-btn:active {
  box-shadow: inset 0px 2px 20px rgba(0, 0, 0, 0.5);
  border: none;
  transition: ease-in-out 0.1s;
}
.home-container .home-content .home-footer .footer-btn:focus {
  outline: 0;
  transition: 0.1s;
}

.game-container {
  position: relative;
}
.game-container::before {
  z-index: -6;
  position: absolute;
  background-image: url(../img/background-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(3px);
  width: 100%;
  top: 0;
  height: 100%;
  content: "";
}
.game-container::after {
  z-index: -5;
  position: fixed;
  background: -moz-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: -webkit-linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  background: linear-gradient(160deg, rgba(200, 245, 210, 0.7) 42%, rgba(162, 223, 175, 0.7) 30%);
  width: 100%;
  top: 0;
  height: 100%;
  content: "";
}
.game-container .game-content {
  z-index: 100;
  padding: 20px 20px;
}
.game-container .box-left-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5);
}
.game-container .box-left-content .game-header-container {
  position: relative;
  padding: 10px;
  -moz-box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 7px -2px rgba(0, 0, 0, 0.4);
}
.game-container .box-left-content .game-header-container .game-header-content {
  position: relative;
  padding: 15px;
  border: 2px solid rgba(81, 145, 150, 0.3);
  color: #375153;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.game-container .box-left-content .game-header-container .game-header-content::after {
  position: absolute;
  right: -7px;
  top: -7px;
  background-image: url(../img/pokeball.png);
  content: "";
  width: 64px;
  height: 64px;
  animation: bounceIn 0.7s ease-in-out infinite;
}
.game-container .box-left-content .game-header-container #name {
  font-family: "pokefont" sans-serif;
}
.game-container .box-left-content .game-header-container #name::before {
  content: " ⯈ ";
}
.game-container .box-left-content .game-header-container #money::after {
  content: " ⯇ ";
}
.game-container .box-left-content .game-preview-container {
  flex: 1;
  background-image: url(../img/background-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.game-container .box-left-content .game-preview-container .game-preview-content {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.game-container .box-left-content .game-preview-container .game-preview-content .tetetetez {
  padding-left: 10px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .imgPokegotchi-container {
  flex: 1;
  position: relative;
  padding: 0 20px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .imgPokegotchi-container .pokegotchi {
  width: 15rem;
  height: 15rem;
  margin: 0 auto;
  position: absolute;
  bottom: 12px;
  transform: scaleX(-1);
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container {
  bottom: 0;
  z-index: 120;
  display: flex;
  filter: drop-shadow(-2px 6px 10px #323200);
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left {
  display: inline-block;
  width: 25rem;
  z-index: -1;
  position: relative;
  margin: 10px 10px 10px 10px;
  padding: 10px 20px 15px 10px;
  clip-path: polygon(100% 0, 90% 100%, 0 100%, 0 0);
  border-radius: 2px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left #name {
  display: inline-block;
  font-size: 24px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left #level {
  font-size: 32px;
  float: right;
  margin-right: 1.8rem;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar {
  margin-top: 10px;
  width: calc(100% - 30px);
  position: relative;
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .health-bar-content {
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .health-bar-content .health-box {
  position: relative;
  display: grid;
  grid-template-columns: 3rem calc(100% - 3rem);
  width: 100%;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .health-bar-content .health-bar {
  transition: all 0.5s;
  font-size: 12px;
  width: 100%;
  height: 100%;
  margin-right: auto;
  padding: 12px 0;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .health-bar-content .health-title {
  position: relative;
  transform: all 0.3s;
  color: #f1fff2;
  border-right: 2px solid black;
  text-align: center;
  height: 100%;
  background: #123032;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .health-bar-content #health {
  /* position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  line-height: 19px; */
  position: absolute;
  top: 0;
  left: calc(3.3rem);
  font-size: 13px;
  margin-top: 5px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .exp-bar-content {
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .exp-bar-content .exp-box {
  position: relative;
  display: grid;
  grid-template-columns: 3rem calc(100% - 3rem);
  width: 100%;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .exp-bar-content .exp-bar {
  transform: all 0.3s;
  border-radius: 3px;
  font-size: 12px;
  background: #3b9ba2;
  width: 100%;
  height: 100%;
  margin-right: auto;
  padding: 12px 0;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .exp-bar-content .exp-title {
  position: relative;
  transform: all 0.3s;
  color: #f1fff2;
  border-right: 2px solid black;
  text-align: center;
  height: 100%;
  background: #123032;
  /* &::after {
      position: absolute;
      content: attr("exp-after") "";
      bottom: 0;
      top: 0;
      color: $color-dark;
  } */
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar .exp-bar-content #exp {
  /* position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  line-height: 19px; */
  position: absolute;
  top: 0;
  left: calc(3.3rem);
  font-size: 13px;
  margin-top: 5px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-left .infobar p {
  text-align: center;
  font-size: 16px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right {
  display: inline-block;
  position: relative;
  width: 25rem;
  margin-left: auto;
  z-index: -1;
  position: relative;
  padding: 10px 20px 15px 0;
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 10% 0);
  border-radius: 2px;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar {
  margin-top: 10px;
  margin-left: 10%;
  max-width: calc((100% - 10%) - 10px);
  width: calc((100% - 10%) - 10px);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .hunger-bar-content {
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .hunger-bar-content .hunger-box {
  position: relative;
  display: grid;
  grid-template-columns: calc(100% - 4rem) 4rem;
  width: 100%;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .hunger-bar-content .hunger-box .hunger-bar {
  transition: all 0.3s;
  font-size: 12px;
  background: #86c085;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 12px 0;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .hunger-bar-content .hunger-box .hunger-title {
  position: relative;
  color: #f1fff2;
  border-left: 2px solid black;
  text-align: center;
  height: 100%;
  background: #123032;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .battle-bar-content {
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .battle-bar-content .battle-box {
  position: relative;
  display: grid;
  grid-template-columns: calc(100% - 4rem) 4rem;
  width: 100%;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .battle-bar-content .battle-box .battle-bar {
  transition: all 0.3s;
  font-size: 12px;
  background: #c20134;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 12px 0;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .battle-bar-content .battle-box .battle-box {
  position: relative;
  color: #f1fff2;
  border-left: 2px solid black;
  text-align: center;
  height: 100%;
  background: #123032;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .toilet-bar-content {
  position: relative;
  border-radius: 3px;
  margin-top: 5px;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.5);
  overflow: hidden;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .toilet-bar-content .toilet-box {
  position: relative;
  display: grid;
  grid-template-columns: calc(100% - 4rem) 4rem;
  width: 100%;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .toilet-bar-content .toilet-box .toilet-bar {
  transition: all 0.3s;
  font-size: 12px;
  background: #e3a384;
  width: 100%;
  height: 100%;
  margin-left: auto;
  padding: 12px 0;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar .toilet-bar-content .toilet-box .toilet-title {
  position: relative;
  color: #f1fff2;
  border-left: 2px solid black;
  text-align: center;
  height: 100%;
  background: #123032;
}
.game-container .box-left-content .game-preview-container .game-preview-content .pokeInfo-container .pokeInfo-content-right .infobar p {
  margin-right: 10px;
}
.game-container .box-left-content .game-footer-container {
  position: relative;
  z-index: 210;
  box-shadow: 0 -5px 7px rgba(0, 0, 0, 0.4);
  padding: 5px;
}
.game-container .box-right-container {
  z-index: 999;
}
.game-container .box-right-container .box-right-content {
  position: relative;
  margin: 12px;
}
.game-container .box-right-container .box-right-content .settings {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  height: 64px;
}
.game-container .box-right-container .box-right-content .settings i {
  width: 100%;
  height: 100%;
}
.game-container .box-right-container .box-right-content .rule-container {
  position: relative;
  background: #f8f8f8;
  border-radius: 16px;
  border: 2px solid #4870a0;
  box-shadow: inset 0 0 0 4px #a0d0e0;
  margin: 2rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.game-container .box-right-container .box-right-content .rule-container .chen-container {
  /*  flex: 0 0 40%;
                     max-width: 40%;
  */
}
.game-container .box-right-container .box-right-content .rule-container .chen-container .chen-content {
  margin: 2rem 0 2rem 2rem;
  width: 12rem;
}
.game-container .box-right-container .box-right-content .rule-container .chen-container .chen-content .img-prof-chen {
  transform: scaleX(-1);
  width: 100%;
  height: 100%;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content {
  display: table;
  margin: auto;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-title {
  margin-bottom: 18px;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-title h1 {
  width: 80%;
  margin: 0 auto;
  position: relative;
  font-size: 24px;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-title h1::after {
  color: #e00808;
  position: relative;
  right: 10px;
  content: " ▼ ";
  -webkit-filter: drop-shadow(1px 2px 2px #606060);
  filter: drop-shadow(1px 2px 2px #606060);
  animation: 0.7s linear 0s infinite alternate move_eye;
  font-size: 16px;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-text {
  width: 80%;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.1rem;
  margin: 0 auto;
  position: relative;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-text > * {
  /*  &::after {
       position: absolute;
       content: "";
       width: 6px;
       border-radius: 8px;
       height: 100%;
       right: -1rem;
       bottom: -5px;
       top: 0px;
       background: #e0f0e8;
       margin-top: auto;
       margin-bottom: auto;
   } */
  margin-bottom: 1.5rem;
}
.game-container .box-right-container .box-right-content .rule-container .rule-content .rule-text > * .idRule {
  color: red;
}
.game-container .box-right-container .box-right-content .terminal-log-content {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 16px;
  position: relative;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .text-box {
  width: 100%;
  height: 100%;
  z-index: 999;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .valid::before {
  content: " ► ";
  color: #28943e;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .unvalid::before {
  content: " ► ";
  color: #942828;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box p {
  font-weight: bold;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .pokegotchi {
  color: #28aaca;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .git {
  color: #3b8eea;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .master {
  color: #c04445 !important;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .cross {
  position: relative;
  margin-right: 20px;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .cross::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 12px;
  height: 12px;
  background-image: url(../img/cross.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .terminal-log {
  z-index: -1;
  position: absolute;
  width: calc(100% - (2.5% * 2));
  height: calc(100% - (9.5% * 2));
  top: 9.5%;
  left: 2.5%;
  background: #282c34;
  overflow: hidden;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .terminal-log .text {
  margin: 10px;
}
.game-container .box-right-container .box-right-content .terminal-log-content .terminal-log-box .input-command {
  bottom: calc(-1rem - 5px);
  left: 1.9rem;
  width: calc(100% - (1.9rem * 2));
  position: absolute;
  padding: 5px 0;
  border-radius: 6px;
  border: none;
}

.death-view-container {
  width: 100%;
  height: 100vh;
  background-color: #dab641;
  display: flex;
  justify-content: center;
  align-items: center;
}
.death-view-container .death-view-content {
  position: relative;
  margin: 12px;
  background-image: url(../img/bg-death.jpeg);
  width: 45rem;
  height: 25rem;
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}
.death-view-container .death-view-content::before {
  z-index: 0;
  top: 0;
  position: absolute;
  background: rgba(51, 51, 51, 0.3);
  width: 45rem;
  height: 25rem;
  content: "";
}
.death-view-container .death-view-content::after {
  z-index: 0;
  top: 0;
  position: absolute;
  background: -moz-linear-gradient(160deg, #dab641 42%, rgba(218, 182, 65, 0.4) 30%);
  background: -webkit-linear-gradient(160deg, #dab641 42%, rgba(218, 182, 65, 0.4) 30%);
  background: linear-gradient(160deg, rgba(243, 231, 193, 0.3) 42%, rgba(218, 182, 65, 0.4) 30%);
  width: 45rem;
  height: 25rem;
  content: "";
}
.death-view-container .death-view-content .death-view-element {
  z-index: 999;
}
.death-view-container .death-view-content .death-view-element .title {
  text-align: center;
}
.death-view-container .death-view-content .death-view-element .title h1 {
  position: relative;
  display: inline-block;
  font-size: 40px;
  z-index: 40;
  padding: 12px;
}
.death-view-container .death-view-content .death-view-element .title h1::before {
  position: absolute;
  content: "";
  left: -3.5rem;
  top: 0;
  background-image: url(../img/rip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  width: 64px;
  height: 64px;
  z-index: -1;
}
.death-view-container .death-view-content .death-view-element .title h1::after {
  position: absolute;
  content: "";
  right: -3.5rem;
  top: 0;
  background-image: url(../img/rip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.8;
  width: 64px;
  height: 64px;
  z-index: -1;
}
.death-view-container .death-view-content .death-view-element .retry {
  z-index: 999;
  text-align: center;
  width: 100%;
  z-index: 9999;
}
.death-view-container .death-view-content .death-view-element .retry #retry {
  background: linear-gradient(-45deg, #dab641 0 calc(50% - 10px), #6d5815 calc(50% + 10px) 100%);
  background-size: 250% 100%;
  background-position: 100% 50%;
}
.death-view-container .death-view-content .death-view-element .retry #retry:hover, .death-view-container .death-view-content .death-view-element .retry #retry:focus {
  background-position: 0% 50%;
  transition: 0.5s all;
  color: white !important;
}

/*# sourceMappingURL=main.css.map */
